header
  border-bottom: 1px solid #eaeaea
  h3
    color: black !important
  .headerRight
    .active
      border-bottom: 3px solid #D0EEFF
      transition: .1s
      border-radius: 3px
    span
      font-weight: 600
